       </div>
    </div>

    <footer id="pageFooter">
        <div class="row">
            <div class="large-4 columns languages">
                <h4>{{ footer[locale].languageTitle }}</h4>
                <aside id="icl_lang_sel_widget-3" class="widget widget_icl_lang_sel_widget">
                    <div class="wpml-ls-sidebars-footer-sidebar-1 wpml-ls wpml-ls-legacy-list-vertical">
                        <ul>
                            <li class="wpml-ls-slot-footer-sidebar-1 wpml-ls-item wpml-ls-item-sv wpml-ls-current-language wpml-ls-first-item wpml-ls-item-legacy-list-vertical">
                                <a href="/" class="wpml-ls-link"><img class="wpml-ls-flag" src="/img/sv.png" alt="sv" title="Svenska"><span class="wpml-ls-native">Svenska</span></a>
                            </li>
                            <li class="wpml-ls-slot-footer-sidebar-1 wpml-ls-item wpml-ls-item-en wpml-ls-last-item wpml-ls-item-legacy-list-vertical">
                                <a href="/en/" class="wpml-ls-link"><img class="wpml-ls-flag" src="/img/en.png" alt="en" title="English"><span class="wpml-ls-native">English</span></a>
                            </li>
                        </ul>
                        <!-- This page is also available in:
                        {% for link in page.url | locale_links %}
                        <a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{link.label}}</a>
                        {% endfor %} -->
                    </div>
                </aside>
            </div>
            <div class="large-4 columns">
                <div class="footerContactInfo">
                    <aside id="text_icl-2" class="widget widget_text_icl">
                        <div class="textwidget">
                            <h4>{{ footer[locale].bookAndPay }}</h4>
                            <h4><a href="tel: 46 (0)70-646 21 20">{{ footer[locale].questions }}<br />+46 706462120 {{ footer[locale].or }}<br /><a href="mailto:%20info@hagadalensvandrarhem.se">info@hagadalensvandrarhem.se</a></a></h4>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="large-4 columns">
                <div>
                    <aside id="text-2" class="widget widget_text">
                        <div class="textwidget">
                            <h4>{{ footer[locale].findUs }}&nbsp;<small>Vårdsätravägen 71, 756 55 Uppsala</small></h4>
                            <p>
                                <a href="https://maps.google.se/maps?q=V%C3%A5rds%C3%A4trav%C3%A4gen+71,+756+55+Uppsala&amp;hl=sv&amp;ie=UTF8&amp;sll=59.833279,17.658447&amp;sspn=0.31365,1.056747&amp;hnear=V%C3%A5rds%C3%A4trav%C3%A4gen+71,+756+46+Uppsala,+Uppsala+l%C3%A4n&amp;t=m&amp;z=16&amp;iwloc=A" target="_blank" rel="noopener noreferrer">{% image "img/Capture-300x132.png", "Hågadalens vandrarhem logotyp.", "alignnone size-medium wp-image-410" %}</a>
                            </p>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </footer> 