<div id="wrap">
        <div id="main">
            <nav id="mobileNav" class="show-for-small top-bar" style="">
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="/">Hågadalens vandrarhem</a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon">
                        <a href="#"><span>{{ header[locale].menu }}</span></a>
                    </li>
                </ul>

                <section class="top-bar-section">
                    <div class="menu-meny-1-container">
                        <ul id="menu-meny-1" class="menu">
                            <li id="menu-item-18"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18">
                                <a href="{{ "/index/" | locale_url }}">{{ header[locale].home }}</a></li>
                            <li id="menu-item-19"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19"><a
                                    href="https://5c65bf165a023.sirvoy.me/">{{ header[locale].bookRoom }}</a></li>
                            <li id="menu-item-35"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a
                                    href="{{ "/rum-priser/" | locale_url }}">{{ header[locale].ourRooms }}</a></li>
                            <li id="menu-item-36"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a
                                    href="{{ "/bilder/" | locale_url }}">{{ header[locale].images }}</a></li>
                            <li id="menu-item-37"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-37">
                                <a href="{{ "/villkor-fragor/" | locale_url }}">{{ header[locale].termsConditions }}</a></li>
                            <li id="menu-item-38"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a
                                    href="{{ "/om-oss/" | locale_url }}">{{ header[locale].about }}</a></li>
                        </ul>
                    </div>
                </section>
            </nav>

            <nav id="siteNav" style="top: 70">
                <a href="{{ "/index/" | locale_url }}"><img src="/img/Hagadalen_logo.png"></a>
                <div class="menu-meny-1-container">
                    <ul id="menu-meny-2" class="menu">
                        <li
                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18">
                            <a href="{{ "/index/" | locale_url }}">{{ header[locale].home }}</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19"><a
                                href="https://5c65bf165a023.sirvoy.me/">{{ header[locale].bookRoom }}</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a
                                href="{{ "/rum-priser/" | locale_url }}">{{ header[locale].ourRooms }}</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a
                                href="{{ "/bilder/" | locale_url }}">{{ header[locale].images }}</a></li> 
                        <li
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-37">
                            <a href="{{ "/villkor-fragor/" | locale_url }}">{{ header[locale].termsConditions }}</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a
                                href="{{ "/om-oss/" | locale_url }}">{{ header[locale].about }}</a></li>
                    </ul>
                </div>
            </nav>
            <div class="slideshow-wrapper">
                <img data-src="/img/host_vandrarhemmet.jpg?width=150&amp;slimmage=true" data-slimmage="true" src="/img/host_vandrarhemmet.jpg?width=2080&amp;slimmage=true" data-pixel-width="2080">
            </div>
            <div class="row">
                <div class="large-12 large-centered-columns">
                    &nbsp;
                </div>
            </div>