---
title: Hågadalens Vandrarhem
layout: base.njk
permalink: /
---
<div class="row startPageBoxes coloredBoxes">
    <div class="large-3 columns">
        <h3 class="text-center">Boka rum</h3>
        <a target="_blank" href="https://5c65bf165a023.sirvoy.me/">
            <div class="imageWrapper">
                {% image "img/rumopriser1.jpg", "Kalender för att boka rum." %}
            </div>
        </a>
        <p><br />
            Ange önskade datum för din vistelse i vår bokningskalender för att se vilka rum som finns
            tillgängliga. Boka och betala via Payson (säker betalning).<br>
            Vi nås på telefon<br>
            070-646 21 20<br>
            om du har frågor eller funderingar.</p>

        <a href="https://5c65bf165a023.sirvoy.me/" target="_blank" class="button round expand">Boka rum</a>
    </div>
    <div class="large-4 large-offset-1 columns">
        <h3 class="text-center">Våra rum</h3>
        <a href="{{ "/rum-priser/" | locale_url }}">
            <div class="imageWrapper">
                {% image "img/Kenneths-rum-4.jpg", "Kenneths rum." %}
            </div>
        </a>
        <p><br />
            Våra 4 tvåbäddsrum har generösa ytor och är personligt utformade, har olika storlek och utseende.
            De är ljusa, rökfria och fräscha. Rummen har två resårsängar (90-cm), 5 cm tjocka bäddmadrasser,
            täcken och två kuddar. Sitthörna finns i alla rum. Sängarna är färdigbäddade med lakan.
            Handdukar ingår.</p>
        <a href="{{ "/rum-priser/" | locale_url }}" class="button round expand">Våra rum</a>
    </div>
    <div class="large-3 large-offset-1 columns">
        <h3 class="text-center">Om oss</h3>
        <a href="{{ "/om-oss/" | locale_url }}">
            <div class="imageWrapper">
                {% image "img/Ingers-rum-8.jpg", "Blommor i Ingers rum." %}
            </div>
        </a>
        <p>
            <br />
            <strong>MITT I NATUREN – NÄRA STAN</strong>
            <br />
            Hågadalens Hostel &amp; Vandrarhem är ett utmärkt alternativ för dig som söker ett
            ombonat och bekvämt boende till förmånligt pris – med närhet till såväl naturen som centrala
            Uppsala. Du tar enkelt buss 11 till city (mot riktning Fyrislund) från närliggande hållplats
            Lurbo Bro.</p>
        <a href="{{ "/om-oss/" | locale_url }}" class="button round expand">Om oss</a>
    </div>
</div>