---
title: Om oss
layout: base.njk
---
            <div class="row coloredBoxes">
                <div class="large-7 columns">
                    <h2>Om oss</h2>
                    <div class="row">
                        <div class="large-12 columns">
                            <p><strong>Hågadalens Hostel &amp; Vandrarhem ligger i det natursköna Hågadalen – Nåstens
                                    Naturreservat.</strong></p>
                            <p>Vandrarhemmet håller mycket hög standard och har generöst tilltagna ytor i såväl övernattningsrummen
                                som gemensamhetsutrymmena.</p>
                            <p>Under november 2022 har vi byggt om vandrarhemmet och har numera fyra tvåbäddsrum, kök, matrum,
                                TV-rum och badrum på våning 2.<br>
                                Parkeringen och entrén är på framsidan av huset.</p>
                            <p>Alla rum ser olika ut och har en individuell prägel. Samtliga rum är ljusa och trevliga och alla är
                                utrustade med persienner och en sitthörna. Ett av rummen har skrivbord.</p>
                            <p>Rummen har två resårsängar. För skön komfort finns det en 5 cm-tjock bäddmadrass med överdrag, täcke
                                och två kuddar med kuddöverdrag. Sängarna står färdigbäddade med lakan vid ankomsten.&nbsp;Handdukar
                                ingår.</p>
                            <p><strong>Sovsäckar och egna täcken/filtar och kuddar är av hygieniska skäl ej tillåtet.</strong></p>
                            <p>Stort gemensamt fräscht och välutrustat kök för självhushåll samt matrum finns nu på samma
                                våningsplan som rummen. I kylskåpet har du en egen hylla, liksom i köksskåpen under bardisken.<br>
                                Källsortering utförs av gästen i de behållare som finns under diskbänken och i kärlen vid
                                fönstret.<br>
                                <strong>För allas trevnad diskar du, torkar och ställer tillbaka allt du använt på sina platser
                                    direkt efter avslutad måltid. </strong>
                            </p>
                            <p>Hela fastigheten är rökfri.<br>
                                <strong>Rökning </strong>får bara ske ute vid soptunnorna där glasburk för fimpar finns.
                            </p>
                            <p>Husdjur är inte tillåtet.</p>
                            <p>Barn över 10 år är välkomna.&nbsp;Vi tar inte emot yngre barn.</p>
                            <p><strong>Skor </strong>tas av i entrén för allas trivsel.&nbsp;Antingen ställer du dina skor på
                                skohyllan eller bär in dem till ditt rum.</p>
                            <p>Du har tillgång till rummet mellan kl 16.00 på ankomstdagen till och med kl 11.00 på avresedagen.</p>
                            <p>När du bokat och betalt ditt rum får du på ankomstdagen ett sms med en kod till entrédörren samt en
                                speciell kod till ditt nyckelfack.</p>
                            <p><strong>Fri parkering</strong>&nbsp;finns framför huset. El ingår dock inte.</p>
                            <p>Fri tillgång till internet.&nbsp;Inloggningsuppgifter kommer i informationsmejlet efter din bokning.
                                Uppgiften finns också på rummet.</p>
                            <p><strong>Hågadalen-Nåstens Naturreservat</strong>&nbsp;med dess otaliga gångstråk sträcker sig från
                                bron söder om vandrarhemmet och följer längs västra Uppsala i nordlig riktning till
                                Flogsta-Kvarnbolund-Nåsten, fram till väg 55 mot Enköping. I sydlig riktning, mellan Lurbo Bro och
                                Skarholmen finns promenadstråket&nbsp;<strong>Vårdsätra Strandpromenad</strong>&nbsp;på 3 km längs
                                hela Hågaån och vidare längs Vårdsätraviken.<br>
                                I denna del av Uppsala finner vi Vårdsätrabadet och Lyssnarängsbadet i sjön Ekoln, småbåtshamnen med
                                restaurang vid Skarholmen, Sunnerstabacken (Uppsala Alpina Center) med café och skidlift samt
                                diverse andra aktiviteter.</p>
                            <p>Det är mycket enkelt att med kommunal busstrafik nå såväl city som närmsta köpcentrum, Gottsunda
                                Centrum. Flera busshållplatser (närmast oss Lurbo Bro) finns 50-200 meter från vandrarhemmet. Buss
                                11 har flera avgångar per timme och har direktanslutning till Akademiska Sjukhuset, Universitetet,
                                City och Resecentrum.<br>
                                <a
                                    href="https://www.ul.se/reseinfo/tidtabeller/tidtabeller/">https://www.ul.se/reseinfo/tidtabeller/tidtabeller/</a>&nbsp;
                                Välj buss 11
                            </p>
                            <p>Taxi nås på 018-100 000 (Uppsala Taxi) eller 018-123456 (Taxi Kurir). Flera taxiföretag förekommer.
                            </p>
                            <p><strong>Välkommen att övernatta i stans vackrast belägna och mest hemtrevliga vandrarhem!</strong>
                            </p>
            
                        </div>
                    </div>
                </div>
                <div class="large-4 offset-1 columns clean">
                    {% image "img/Aa5_3455_compressed.jpg", "Grönskande ängar i närheten av vandrarhemmet." %}
                </div>
            </div>
            <div class="footerPadding"></div>