---
title: Rum & priser
layout: base.njk
---
            <div class="row coloredBoxes no-height">
                <div class="row coloredBoxes">
                    <div class="large-6 columns">
                        <div class="row">
                            <!-- <div class="large-12 columns">
                                <h4>Tvåbäddsrum - Välj "Till bokning" nedan för att se aktuella priser</h4>
                                <img src="/img/Johans-rum-1_compressed-1-1.jpg"
                                    alt="">
                                <p></p>
                                <p>Våra tvåbäddsrum har två enkelsängar med resårbotten. Rummen är ca 13 m² och har sitthörnor.</p>
                                <p></p>
            
                                <a href="https://5c65bf165a023.sirvoy.me/" target="_blank" class="button round">Till bokning</a>
                            </div> -->
                            <div class="large-12 columns">
                                {%- for room in collections.room -%}
                                    {%- if room.data.tags == "room" and room.data.language == "sv" -%}
                                        <h4>{{ room.data.title }} - Välj "Till bokning" nedan för att se aktuella priser</h4>
                                        <a href="https://5c65bf165a023.sirvoy.me/" target="_blank">
                                            {% image room.data.image, room.data.title %}
                                        </a>
                                        <p>{{ room.data.description }}</p>
                                        <a href="https://5c65bf165a023.sirvoy.me/" target="_blank" class="button round">Till bokning</a>
                                    {%- endif -%}
                                {%- endfor -%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footerPadding"></div>
            </div>