---
title: About Us
layout: base.njk
---
<div class="row coloredBoxes">
    <div class="large-7 columns">
        <h2>{{ title}}</h2>
        <div class="row">
            <div class="large-12 columns">
                <p><strong>Hågadalens Hostel &amp; Hostel is located in the scenic Hågadalen – Nåsten nature
                        reserve.</strong></p>
                <p>The hostel maintains a very high standard and has generously sized surfaces in both the overnight
                    rooms and the common areas.</p>
                <p>During November 2022, we have rebuilt the hostel and now have four twin rooms, kitchen, dining room,
                    TV room and bathroom on the 2nd floor.<br>
                    The parking place and the entrance are at the front of the house.</p>
                <p>All rooms look different and have an individual touch. All rooms are bright and pleasant and all are
                    equipped with blinds and a sitting area. One of the rooms has a desk.</p>
                <p>The rooms have two spring beds. For great comfort, there is a 5 cm-thick bed mattress with cover,
                    duvet and two pillows with pillow covers. The beds are made up with sheets on arrival. Towels are
                    included.<br>
                    Sleeping bags and your own blankets/blankets and pillows are not permitted for hygienic reasons.</p>
                <p>Large common fresh and well-equipped kitchen for self-catering and dining room are now on the same
                    floor as the rooms. You have your own shelf in the refrigerator, as well as in the kitchen cupboards
                    under the bar bench.<br>
                    Source sorting is carried out by the guest in the buckets under the sink and in the containers by
                    the window.</p>
                <p><strong>For everyone’s comfort, you wash, dry and put everything you used back in its place
                        immediately after finishing the meal.</strong></p>
                <p>The entire property is non-smoking.<br>
                    <strong>Smoking</strong> may only take place outside by the dustbins where glass jars for cigarette
                    butts are located.
                </p>
                <p>Pets are not allowed.</p>
                <p>Children over 10 are welcome. We do not accept younger children.</p>
                <p><strong>Shoes</strong> are removed at the entrance for everyone’s comfort. You either put your shoes
                    on the shoe rack or carry them into your room.</p>
                <p>You have access to the room between 16.00 on the day of arrival and 11.00 on the day of departure.
                </p>
                <p>When you have booked and paid for your room, you will receive a&nbsp;mobile message on the day of
                    arrival with a code for the entrance door and a special code for the key box.</p>
                <p>Free parking is available in front of the house. However, electricity is not included.</p>
                <p>Free access to the internet. Login details will be in the information email after your booking. You
                    find it also in the room.</p>
                <p>Hågadalen-Nåstens Nature Reserve with its countless footpaths stretches from the bridge south of the
                    hostel and follows along western Uppsala in a northerly direction to Flogsta-Kvarnbolund-Nåsten, up
                    to route 55 towards Enköping. In the southern direction, between Lurbo Bro and Skarholmen, there is
                    the Vårdsätra Strandpromenad promenade of 3 km along the entire Hågaån and further along
                    Vårdsätraviken.<br>
                    In this part of Uppsala we find Vårdsätrabadet and Lyssnarängsbadet in the lake Ekoln, the marina
                    with restaurant at Skarholmen, Sunnerstabacken (Uppsala Alpina Center) with cafe and ski lift as
                    well as various other activities.</p>
                <p>It is very easy to reach both the city and the nearest shopping center, Gottsunda Centrum, with
                    municipal bus traffic. Several bus stops (closest to us Lurbo Bro) are 50-200 meters from the
                    hostel. Bus 11 has several departures per hour and has a direct connection to the Academic Hospital,
                    the University, the City and the Travel Center.<br>
                    https://www.ul.se/reseinfo/tidtabeller/tidtabeller/ Choose bus 11</p>
                <p>Taxis can be reached on 018-100 000 (Uppsala Taxi) or 018-123456 (Taxi Kurir). There are several more
                    taxi companies.</p>
                <p><strong>Welcome to spend the night in Uppsala’s most beautifully located and most homely
                        hostel!</strong></p>

            </div>
        </div>
    </div>
    <div class="large-4 offset-1 columns clean">
        {% image "img/Aa5_3455_compressed.jpg", "Looming areas nearby the hostel." %}
    </div>
</div>
<div class="footerPadding"></div>