---
title: Rooms and prices
layout: base.njk
---
            <div class="row coloredBoxes no-height">
                <div class="row coloredBoxes">
                    <div class="large-6 columns">
                        <div class="row">
                            <div class="large-12 columns">
                                <h4>Two bed room - Select "To booking" below to see the current prices</h4>
                                <img src="/img/Johans-rum-1_compressed-1-1.jpg"
                                    alt="">
                                <p></p>
                                <p>This twin room features a seating area. 13 m². 2 twin beds.</p>
                                <p></p>
            
                                <a href="https://5c65bf165a023.sirvoy.me/" target="_blank" class="button round">Continue to Booking</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footerPadding"></div>
            </div>