---
title: FAQ
layout: base.njk
---
<div class="row coloredBoxes">
    <div class="large-4 columns">
        <h2>FAQ</h2>
        <p>Choose your type of question in the menu below:</p>

        <div class="buttonBoxes">
            <div data-opensitem="1" class="active">
                <a href="#">
                    <h4>
                        Conditions </h4>
                </a>
            </div>
            <div data-opensitem="2">
                <a href="#">
                    <h4>
                        At arrival</h4>
                </a>
            </div>
            <div data-opensitem="3">
                <a href="#">
                    <h4>
                        Before leaving</h4>
                </a>
            </div>
            <div data-opensitem="4">
                <a href="#">
                    <h4>
                        Facilities and FAQ</h4>
                </a>
            </div>
            <div data-opensitem="5">
                <a href="#">
                    <h4>
                        Activities nearby</h4>
                </a>
            </div>
            <div data-opensitem="6">
                <a href="#gdpr">
                    <h4>
                        Integrity policy </h4>
                </a>
            </div>
        </div>
    </div>
    <div class="large-7 columns">
        <h2 class="faqTitle">Conditions</h2>
        <div class="row">
            <div class="large-12 columns">
                <div data-item="1" style="display: block;">
                    <p>The guest understands and accepts this as an agreement with Hågadalens Hostel &amp; Vandrarhem
                        during his booked stay.</p>
                    <p>We apply prepayment at time of booking. Booking and payment is made digitally in advance by
                        credit card / debit card through the hostel’s website. The credit card should be exhibited at
                        one of the guests and be shown together with identification.</p>
                    <p>Refunds can only be made if you, when the booking, buy our cancellation insurance which is 10% of
                        the room cost. Your cancellation must be received by e-mail to info@hagadalensvandrarhem.se not
                        later than 08.00 / 8 AM two days before the arrival date. Otherwise, repayment is not done for
                        the next two days. Without cancellation insurance are not refundable.</p>
                    <p>Only the guests that were reported and checked into the paid reservation has the right to visit
                        and stay (overnight) at the hostel. All guests should if necessary be able to prove their
                        identity with a valid ID.</p>
                    <p>-The credit card holder holds main responsibility for him/herself and/or other guests in his/hers
                        company and is therefor also liable to pay damages or costs that him/her or his/hers company has
                        caused the hostel or its third parts.<br>
                        -Same person is also liable for costs in case of false emergency alarms in case of these being
                        caused by the guests or his/her company. In case of false emergency alarm to emergency services
                        due to smoking, a fee of 10.000SEK will be charged. -The credit card holder is liable to pay
                        damage on chattel caused by him/her or his/hers company, or for chattel that illicitly has been
                        removed from the hostel or other areas of the property. Minimum fee is 1.000 SEK. The chattel is
                        theft labelled. -Credit card holder is also responsible for that hired sheets and towels are
                        left behind at check out. These should be placed in the laundry basket at the stair case at the
                        bottom floor. -Same person are also responsible that all keys are returned into the black
                        mailbox at the entrance prior to check out. In case of loss of key/keys the booking person will
                        be charged a fee of minimum 3.200 SEK based on rekeying the cylinder lock and production of new
                        keys. -The credit card holder agrees to that all extra fees added due to his/her cause or the
                        cause of his/her company is charged the credit card used at the time of booking or with a
                        separate invoice..</p>
                    <p>Rules of order</p>
                    <p>Every guest agrees to -behave in a respectful way towards other guests, hostel staff and
                        residents in the area around the hostel -leave the room in a pleasant state, in other words the
                        same way as you found it in at the time of check in -not to make disturbing noise or in other
                        ways disturb other guests or residents close by. Please make sure to be extra cautious before 8
                        AM and after 11 PM by speaking quieter and keep the television volume on low.</p>
                    <p>Other</p>
                    <p>-Booked room is available between 4 PM-11 PM at the day of check in until 11 AM at the day of
                        check out. -Code to the door are not to be shared to anyone other than registered guests that
                        stay in the room. -The front door should always be kept shut. Please make sure to check this
                        carefully -Only let people in your own company into the hostel. Other guests has their own keys
                        -Carefully read the evacuation plan at the inside of your room´s door carefully -Pets are not
                        allowed at the hostel -We cannot accept children under 10 years -Sleeping bags and own duvets
                        and pillows are prohibited due to hygiene reasons! -Smoking is only permitted outside by the
                        dustbins. Use the glass jar for cigarette butts – do not throw them on the ground!</p>
                    <p>Smoking is forbidden throughout the property and around the building. Toaster is only to be used
                        in the kitchen. Flaming or any other ways of cooking that develop smoke is forbidden. The
                        ventilation system is mechanical which means that the air travels through air gaps inside the
                        walls and smoke can trigger the security alarm. A false alarm to emergency services is charged
                        with 10.000 SEK.</p>
                    <p>We hope that you will enjoy your stay with us! You are welcome from 4 PM. Check out is at latest
                        11 AM.</p>
                    <p>When we do a booking we also store data according to our integrity policy (see the menu option to
                        the left to read more).</p>
                </div>
                <div data-item="2" style="display: none;">
                    <p><b>How do I get my keys?</b></p>
                    <p><span style="font-weight: 400;">You will receive codes on SMS on the day of arrival. One of the
                            codes are for getting access to the entrance door. After entering the house you’ll find the
                            key box where you need to use your second code. Inside of the key box you will find your
                            keys (2 in total), which are available after 16.00 / 4 PM.&nbsp;</span></p>
                    <p><b>What do you do if you have forgotten your code?</b></p>
                    <p><span style="font-weight: 400;">Keep your SMS with the code you got when you booked, available
                            during your whole stay!&nbsp; If you have lost your code&nbsp; – call +46 70-646 21
                            20.</span></p>
                    <p><b>What happens if I lose my key?</b></p>
                    <p><span style="font-weight: 400;">You’ll be charged with the cost of producing a new key and lock
                            cylinder. The minimum fee is 3.200 SEK.</span></p>
                    <p><b>When is the front desk / reception open?</b></p>
                    <p><span style="font-weight: 400;">You are welcome to arrive at any time that suits you between 4 PM
                            – 6 PM on the day of arrival. Contact us on +46 70-646 21 20 if you have any questions.
                            Staff will be at the hostel for a few hours each day, but not necessarily between 4 PM – 11
                            PM.</span></p>
                    <p><b>Can you pay by cash for the rooms when you arrive at the hostel?</b></p>
                    <p><span style="font-weight: 400;">No, we do not apply cash payment. All payments are made digitally
                            in advance in connection with the booking. We also accept payment via Swich.</span></p>
                    <p><b>Do I need to bring my own sheets / towels?</b></p>
                    <p><span style="font-weight: 400;">Bed sheets and towels are included as part of the price. Bringing
                            your own sheets, sleeping bags and pillows is prohibited for hygienic reasons.</span></p>
                </div>
                <div data-item="3" style="display: none;">
                    <p><b>Which time do I need to check out?</b></p>
                    <p><span style="font-weight: 400;">You must leave your room and your keys at the very latest 11 AM
                            on the departure day.</span></p>
                    <p><b>Where do I leave my keys?</b></p>
                    <p><span style="font-weight: 400;">Leave your keys in the room or put them back in the key
                            box.</span></p>
                    <p><b>Where do I leave sheets and towels?</b></p>
                    <p><span style="font-weight: 400;">Leave your sheets and towels on the floor in the room,
                            please.</span></p>
                    <p><b>What should I do before I leave the room and the hostel?</b></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Separate any trash at the given
                                source, in the related bin in the kitchen</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Same goes for empty bottles and
                                cans</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Close all windows</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Tidy up the room so that it looks
                                as good as when you arrived</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Fold the sheet and put the pillows
                                nicely on your bed</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Don’t forget to bring any food you
                                have left in the freezer, refrigerator or kitchen storage with you</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Leave sheet and towel on the
                                floor</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Leave the keys in the room or
                                replace them in the key box.</span></li>
                    </ul>
                </div>
                <div data-item="4" style="display: none;">
                    <p><b>Are there any parking spots available?</b></p>
                    <p><span style="font-weight: 400;">Yes, there are free parking spots available on the front of the
                            hostel. Electricity is not included.</span></p>
                    <p><b>What about TV?</b></p>
                    <p><span style="font-weight: 400;">There is a TV in the living room.</span></p>
                    <p><b>Do you have an elevator?</b></p>
                    <p><span style="font-weight: 400;">No.</span></p>
                    <p><b>Can I do my laundry at the hostel?</b></p>
                    <p><span style="font-weight: 400;">Yes. Call or send a message to +46 70-646 21 20 for booking the
                            laundry.</span></p>
                    <p><b>Is there internet available at the hostel?</b></p>
                    <p><span style="font-weight: 400;">Yes, you have access to free internet at the whole hostel. Login
                            information is available in the room.</span></p>
                    <p><b>Can I buy breakfast at the hostel?</b></p>
                    <p><span style="font-weight: 400;">We do not serve breakfast, but you of course have the possibility
                            to prepare your own breakfast or a light meal. The kitchen is equipped with kettle, coffee
                            maker, stove, oven, microwave and refrigerator &amp; freezer. Use the fan at the stove in
                            case of cooking, to avoid smell of food in the different rooms. The stove has a timer, which
                            is shut off after 2 hours of usage.</span></p>
                    <p><b>Can I separate my trash at source at the hostel?</b></p>
                    <p><span style="font-weight: 400;">Yes, at the kitchen there are several ash bins with symbols on
                            what type of trash that should be stored in each bin. Under the sink there are two bins, one
                            for food, and one for other burnable wastes, e.g. paper towels.</span></p>
                    <p><b>Does the hostel have a toilet for disabled?</b></p>
                    <p><span style="font-weight: 400;">No.</span></p>
                    <p><b>Can I bring my pets?</b></p>
                    <p><span style="font-weight: 400;">No, that is not allowed.</span></p>
                    <p><b>Can I rent sheets and towels?</b></p>
                    <p><span style="font-weight: 400;">Sheet and towel is included within the price. In case we have
                            time we may make your bed before your arrival.&nbsp; Before leaving, put the sheets on the
                            floor before the check out.</span></p>
                    <p><b>What does it cost if I am only one person and there are only rooms with 2 beds available?</b>
                    </p>
                    <p><span style="font-weight: 400;">The price of the room is the same even if you don’t use both
                            beds.</span></p>
                    <p><b>Can I get an extra bed for my room?</b></p>
                    <p><span style="font-weight: 400;">No, it is not possible to get more beds than the ones that are
                            already available in your room.</span></p>
                    <p><strong>Can a small child sleep in the same bed as an adult?</strong></p>
                    <p>No, we cannot accept children under 10 years.</p>
                    <p><b>What else do I need to keep in mind?</b></p>
                    <p><span style="font-weight: 400;">The kitchen is used by all our guests. Make sure you do your
                            dishes, dry and put back any plates and similar that you used, back where they
                            belong.</span></p>
                    <p><b>All rooms have sun-blinds available.</b><span style="font-weight: 400;"> Use this in case you
                            want to make your room darker. Do not pull the curtains / drapery!</span></p>
                    <p><b>Smoking is only permitted outside by the dustbins, not next to the house. Use the glass jar
                            for cigarette butts – do not throw on the ground!&nbsp;</b></p>
                    <p><i><span style="font-weight: 400;">For everyone’s comfort – keep sound and noises at a minimum
                                after 11 PM and before 7 AM.</span></i></p>
                    <p><b>Carefully read through our conditions before you reserve a room at our hostel. </b><a
                            href="http://www.hagadalensvandrarhem.se/Home/faq"><span style="font-weight: 400;">To our
                                terms.</span></a></p>
                </div>
                <div data-item="5" style="display: none;">
                    <p><b>Are there any restaurants nearby?</b></p>
                    <p><span style="font-weight: 400;">With bus 11 you can easily reach the city centre of Uppsala. In
                            Uppsala you’ll find many pubs &amp; restaurants (in fact, Uppsala has the highest&nbsp;
                            restaurant “density” of all Swedish cities). In Gottsunda city centre there are also several
                            restaurants. You can reach Gottsunda by car (2.5 kilometers / 1.5 miles), or walk across
                            Gottsundagipen for about 10 minutes. Maps are available at the hostel. Skarholmen restaurant
                            near the marina is open during the summer. That is located about 3.5 kilometers (2.2 miles)
                            south. You can travel by Bus 11 to both Skarholmen and Gottsunda Centrum. The stop is called
                            Lurbo bro and you’ll find the timetable at UL’s website&nbsp; </span><a
                            href="https://www.ul.se/en">&nbsp;<span
                                style="font-weight: 400;">https://www.ul.se/en/travel-info/timetables/timetables/</span></a><span
                            style="font-weight: 400;">. Bus 11.</span></p>
                    <p><b>What can I do nearby?</b></p>
                    <p><span style="font-weight: 400;">If you continue south via Vårdsätravägen you’ll pass the by-road
                            / turning that leads to Vårdsätrabadet and Lyssnaängsbadet, where you can swim in the lake
                            Ekoln, which is part of Mälaren.</span></p>
                    <p><span style="font-weight: 400;">Enjoy a walk in the marina, or dine &amp; have some “fika” at
                            Restaurang Skarholmen (open during summer).</span></p>
                    <p>Sunnestastugans recreation area has a café and restaurant. See more information
                        https://www.sunnerstastugan.se</p>
                    <p><span style="font-weight: 400;">Enjoy a half day of walking and outdoor life in Hågadalen –
                            Nåstens Naturreservat (preserve), or a shorter walk to Predikstolen, a 15 meter tall cliff
                            that contains remnants of a hill fort, which is located on the other side of Hågaån,
                            starting from the hostel.</span></p>
                </div>
                <div data-item="6" style="display: none;">
                    <p><b>Collection of information</b></p>
                    <p><span style="font-weight: 400;">On our website</span><a href="http://hagadalensvandrarhem.se">
                            <span style="font-weight: 400;">hagadalensvandrarhem.se</span></a><span
                            style="font-weight: 400;"> we collect information from you when you book one of our rooms
                            via the reservation form. The information we gather includes your name, your physical
                            address, your email address as well as any other data that you optionally choose to submit
                            as part of the form.&nbsp; When a reservation is done we use the reservation system Sirvoy
                            to gather information.</span></p>
                    <p><b>Usage of information and purpose</b></p>
                    <p><span style="font-weight: 400;">We store personal data for three (3) months. This is applicable
                            for payments, as well as for registration cards (according to legal requirements from police
                            authorities).</span></p>
                    <p><span style="font-weight: 400;">The information we collect from can also be used to:</span></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Contact you via email or phone
                                number (if you fill this in as part of the reservation form)</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Handle bookings /
                                reservations</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Improve our website</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Improve our customer
                                service</span></li>
                    </ul>
                    <p><b>Handing out personal information to third-party</b></p>
                    <p><span style="font-weight: 400;">We do not sell, shop or in any way transfer personal identifiable
                            information to external parties. This does not include trusted third parties that help us to
                            run our website, with the demand that said parties agree to keep the information
                            confidential.</span></p>
                    <p><b>Information protection</b></p>
                    <p><span style="font-weight: 400;">We apply several security measurements to protect your personal
                            information. We use advanced encryption methods to protect data that is transferred across
                            the internet. Only coworkers that are to do a specific task (e.g. reserve a room, booking
                            service), gets access to personal identifiable information. The computers / servers that are
                            used to store personal identifiable information are stored in a secure environment.</span>
                    </p>
                    <p><b>Cookies</b></p>
                    <p><span style="font-weight: 400;">We use cookies to improve the access of our website and to
                            identify recurring visitors. Furthermore our cookies also improve the user experience by
                            tracking and adapt the experience based on users’ needs and interests. Our usage of cookies
                            do not store (nor is connected in any way) to personal identifiable information on our
                            website.</span></p>
                    <p><b>Delete personal information</b></p>
                    <p><span style="font-weight: 400;">You may contact us at any time on info@hagadalensvandrarhem.se to
                            get information about what personal identifiable information we have stored about you, or if
                            you’d like us to delete your personal identifiable information.</span></p>
                    <p><b>Consent of approval</b></p>
                    <p><span style="font-weight: 400;">By agreeing to use cookies on our website, and by giving consent
                            within our reservation form, you agree to our integrity policy.</span></p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="footerPadding"></div>