---
title: test-titel
layout: base.njk
---
            <div class="row startPageBoxes coloredBoxes">
                <div class="large-3 columns">
                    <h3 class="text-center">Boka rum</h3>
                    <a target="_blank" href="https://5c65bf165a023.sirvoy.me/">
                        <div class="imageWrapper">
                            <img data-src="./img/rumopriser1.jpg?width=150&amp;slimmage=true" data-slimmage="true"
                                src="./img/rumopriser1.jpg?width=480&amp;slimmage=true" data-pixel-width="480">
                        </div>
                    </a>
                    <p><br />
                        Ange önskade datum för din vistelse i vår bokningskalender för att se vilka rum som finns
                        tillgängliga. Boka och betala via Payson (säker betalning).<br>
                        Vi nås på telefon<br>
                        070-646 21 20<br>
                        om du har frågor eller funderingar.</p>

                    <a href="https://5c65bf165a023.sirvoy.me/" target="_blank" class="button round expand">Boka rum</a>
                </div>
                <div class="large-4 large-offset-1 columns">
                    <h3 class="text-center">Våra rum</h3>
                    <a href="/rum-priser/">
                        <div class="imageWrapper">
                            <img data-src="./img/Kenneths-rum-4.jpg?width=150&amp;slimmage=true" data-slimmage="true"
                                src="./img/Kenneths-rum-4.jpg?width=640&amp;slimmage=true"data-pixel-width="640">
                        </div>
                    </a>
                    <p><br />
                        Våra 4 tvåbäddsrum har generösa ytor och är personligt utformade, har olika storlek och utseende.
                        De är ljusa, rökfria och fräscha. Rummen har två resårsängar (90-cm), 5 cm tjocka bäddmadrasser,
                        täcken och två kuddar. Sitthörna finns i alla rum. Sängarna är färdigbäddade med lakan.
                        Handdukar ingår.</p>
                    <a href="/rum-priser/" class="button round expand">Våra rum</a>
                </div>
                <div class="large-3 large-offset-1 columns">
                    <h3 class="text-center">Om oss</h3>
                    <a href="/om-oss/">
                        <div class="imageWrapper">
                            <img data-src="./img/Ingers-rum-8.jpg?width=150&amp;slimmage=true"
                                data-slimmage="true"
                                src="./img/Ingers-rum-8.jpg?width=480&amp;slimmage=true"
                                data-pixel-width="480">
                        </div>
                    </a>
                    <p>
                        <br />
                        <strong>MITT I NATUREN – NÄRA STAN</strong>
                        <br />
                        Hågadalens Hostel &amp; Vandrarhem är ett utmärkt alternativ för dig som söker ett
                        ombonat och bekvämt boende till förmånligt pris – med närhet till såväl naturen som centrala
                        Uppsala. Du tar enkelt buss 11 till city (mot riktning Fyrislund) från närliggande hållplats
                        Lurbo Bro.</p>
                    <a href="/om-oss/" class="button round expand">Om oss</a>
                </div>
            </div>